// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
}

.header {
  width: 100%;
  background-color: red;
}

h1 {
  text-align: center;
  font-size: 6em;

  .the {
     -webkit-animation-duration: 3s;
     -webkit-animation-delay: 0.5s;
     -webkit-animation-iteration-count: 1;
  }

  .arena {
     -webkit-animation-duration: 3s;
     -webkit-animation-delay: 2s;
     -webkit-animation-iteration-count: 1;
  }

}


.intro {
  width: 100%;
  height: 300px;

  p {
    padding: 2%;
    font-size: 1.7em;
    text-align: center;
    margin: 80px auto;
  }

  button {
    display: none;
    margin: 60px auto;
    padding: 1% 2% 1% 2%;
    border-radius: 10%;
    background-color: red;
    font-size: 1.5em;
    color: white;

    &:hover {
      background-color: darkred;
    }
  }
}


.mainCon {
  width: 100%;
  overflow: auto;
  text-align: center;
  display: none;

  .welcome {
    margin: 40px auto;
    border: 1px solid red;
    width: 90%;
    text-align: center;

    .player_select, .opponent_select {
      float: left;
      width: 100%;
      border: 1px solid green;
    }

    h3 {
      font-size: 2.2em;
    }

    .ps, .os {
      border: 1px solid red;
      display: inline-block;
      width: 25%;
    }

    .mid {
      margin: 0px 40px;
    }

    img {
      width: 60%;
      display: block;
      margin: 0 auto;
      border: 1px solid blue;
    }

    button {
      width: 60%;
      font-size: 1.5em;
      color: black;
    }

    .vs {
      clear: both;
      display: block;
      padding: 30px 0px;
      font-size: 5em;
    }

    .go {
      clear: both;
      padding: 60px 0px;
      font-size: 2em;

      .start:hover {
        background-color: darkred;
        color: white;
      }
    }

    .char_select {
      background-color: red;
      color: white;
    }

  }


  .fight_scene {
    overflow: auto;
    border: 3px solid red;
    padding: 2% 0%;
    display: none;
    background-image: url('../images/background2.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    // height: 500px;

    .modal {
      font-size: 3em;
      font-weight: bold;
      -webkit-animation-duration: 4s;
      -webkit-animation-delay: 3s;
      -webkit-animation-iteration-count: 1;
    }

    .goodyBox {
      float: left;
      width: 40%;
      font-size: 3.5em;
      font-weight: bold;
      display: none;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 5s;
      -webkit-animation-iteration-count: 1;

      p {
        margin: 10px auto;
      }

      p:nth-child(2) {
        font-size: 0.6em;
      }

    }

    .baddyBox {
      float: right;
      width: 40%;
      font-size: 3.5em;
      font-weight: bold;
      display: none;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 5s;
      -webkit-animation-iteration-count: 1;

      p {
        margin: 10px auto;
      }

      p:nth-child(2) {
        font-size: 0.6em;
      }
    }

    .healthCon {
      width: 300px;
      height: 30px;
      margin: 0 auto;
      border: 3px solid white;

      .healthBar, .healthBar2 {
        height: 30px;
        width: 100%;
        background-color: green;
      }

    }

    .action {
      display: none;
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: 5s;
      -webkit-animation-iteration-count: 1;

      .msgCon {
        font-size: 1em;
        font-weight: 800;

        span {
          font-weight: 200;
        }
      }

      #fightBtn {
        margin-top: 55px;
        color: black;
        border: 1px solid white;
        font-size: 2em;
      }
    }
  }
}

.footer {
  background-color: red;
  text-align: center;
  font-size: 1.5em;
  margin-top: 40px;
  padding: 10px 0px;

  .foot {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: 1;
  }
}


.win_fight, .lose_fight, .dead_fight {
  display: none;
  font-size: 2.4em;
  text-align: center;
  height: 300px;
}
