 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
}


h1 {
  text-align: center;
  background-color: red;
  font-size: 60px;
}

.mainCon {
  width: 100%;
  overflow: auto;

  .goodyBox {
    float: left;
    width: 15%;
    border: 3px solid red;
    display: none;
  }

  .welcome {
    margin: 0 auto;
    border: 1px solid red;
    width: 50%;
    text-align: center;
    padding: 10%;

    button {}
}

  .fight {
    float: left;
    width: 70%;
    border: 3px solid red;
    padding: 15% 0%;
    display: none;
    // background-image: url('../images/background2.gif');
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: center;
    // font-size: 1.8em;
    // font-weight: 200;
    // line-height: 30px;
    }

  .baddyBox {
    float: right;
    width: 15%;
    border: 3px solid red;
    display: none;
  }

}

.footer {
  background-color: red;
  text-align: center;
}
